html{
    background-color:  rgb(246, 242, 244);
    background-image: url("../css/Backround_mansion.jpg");
    background-size: cover;
    display: block;
    font-family: 'Chalkduster', 'Marker Felt', 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
    color: white;
}
body{
    padding: 2em;
    text-align: center;
}
h1, h2{
    padding-left: 0.5em;
}

main{
    margin-top: 1rem;
}

main *{
    padding: 1em;
}

footer{    
    color: white;
}

button{
    text-align: center;
    color: white;
    background-color: transparent;
    border-color: white;
}