html{
    background-color:  rgb(246, 242, 244);
    background-image: url("../css/Backround_mansion.jpg");
    background-size: cover;
    display: block;
    
    color: white;
}

@font-face{
    font-family: "Pixeloid Sans";
    src: url("./fonts/PixeloidSans-JR6qo.ttf");
}

@font-face {
    font-family: "Zombik";
    src: url("./fonts/ZombikRegular-nRm1M.ttf");
}

body{
    padding: 2em;
    text-align: center;
}

h1, h2{
    font-family: "Pixeloid Sans", sans-serif;
    color: crimson;
    margin: 0;
    padding-left: 0.5em;
}

h3{
    font-family: "Pixeloid Sans", sans-serif;
    color: white;
    padding-left: 0.5em;
    font-size: 1.5em;
}

#leaderboard {
    margin-bottom: 10%;
}

#Sprite, #Zee{
    display: inline-block;

}

#Sprite{
    font-size: 5em;
}

#Zee{
    font-family: "Zombik", sans-serif;
    font-size: 6em;
    margin-left: -0.5em; /*Add some space between the two headings*/
}

main{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

main *{
    padding: 1em;
}

p{
    font-family: "Pixeloid Mono", sans-serif;
    color: rgb(132, 255, 0);
    font-size: 1em;
    margin: 0;
}

footer{
    font-family: Pixeloid Mono, sans-serif;   
    color: rgb(255, 128, 0);
    position: fixed;
    bottom: 20px;
    left: 20px;
}

button{
    font-family: "Pixeloid Mono", sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: white;
    background-color: crimson;
    border-color: rgb(30, 4, 42);
    border-width: 0.5em;
    border-radius: 0.5em;
}

a:link, a:visited {
    font-family: "Pixeloid Mono", sans-serif;
    background-color: white;
    color: crimson;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: crimson;
    color: white;
  }

  form {
    font-family: "Pixeloid Mono", sans-serif;
    color: rgb(255, 128, 0);
}

input[type=text] {
    font-family: "Pixeloid Mono", sans-serif;
    border: 2px solid rgb(255, 128, 0);
    border-radius: 4px;
    background-color: white;
    border-color: rgb(255, 128, 0);
  }

  input[type=password] {
    font-family: "Pixeloid Mono", sans-serif;
    border: 2px solid rgb(255, 128, 0);
    border-radius: 4px;
    background-color: white;
    border-color: rgb(255, 128, 0);
  }


  input[type=button], input[type=submit], input[type=reset] {
    font-family: "Pixeloid Mono", sans-serif;
    background-color: white;
    color: crimson;
    margin: 25px 2px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-color: crimson;
  }

  li {
    list-style-type: none;
}