<!DOCTYPE html>
<html lang="en">

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  

  <title>SpriteZ</title>

</head>
<body>
  <header>
    <h1>SpriteZ</h1>
    <nav>
      <ul>
          {% if g.user %}
          <li><a href ="{{ url_for('index') }}">Start Game</a></li>
          <li><a href="{{ url_for('settings') }}">Game Settings</a></li>
          <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
          <li><a href="{{ url_for('quit') }}">Quit</a>{{ g.user }} Logged in</li>
          {% else %}
          <li><a href="{{ url_for('register') }}">Sign Up</a></li>
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('help') }}">Help</a></li>
          {% endif %}
      </ul>
    </nav>      
  </header>

  
  <main>
    {% block main_content %}{% endblock %}
  </main>

  <footer>
    &copy; Andrew Caumban, Sharon Coffee, Kieran Curran, Nathaniel Minghim, Elaine O'Sullivan
  </footer>
</body>
</html>


