<!DOCTYPE html>
<html lang="en">

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

  <title>SpriteZ</title>

  <script type="text/javascript">
    window.onload = function() 
    {
        setInterval(fade_out, 200);
    }

    function fade_out() 
    {
      {
        var h1_sprite = document.getElementById('Sprite');
        h1_sprite.style.opacity = h1_sprite.style.opacity == 0 ? 1 : 0;
        h1_sprite.style.transition = "opacity 0.5s ease-in-out";
        var h1_zee = document.getElementById('Zee');
        h1_zee.style.opacity = h1_zee.style.opacity == 0 ? 1 : 0;
        h1_zee.style.transition = "opacity 0.5s ease-in-out";
      }       
    }
</script>
</head>

<body>
  <header>
    <h1 id="Sprite" >Sprite</h1>
    <h1 id="Zee" >Z</h1>
    <nav>    
          {% if g.user %}
          <a href="{{ url_for('settings') }}">Game Settings</a>
          <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
          <a href="{{ url_for('quit') }}">Quit</a>
          {% else %}
          <a href="{{ url_for('register') }}">Sign Up</a>
          <a href="{{ url_for('login') }}">Login</a>
          <a href="{{ url_for('help') }}">Help</a>
          {% endif %}
      </ul>
    </nav>      
  </header>

  
  <main>
    {% block main_content %}{% endblock %}
  </main>

  <footer>
    &copy; Andrew Caumban, Sharon Coffee, Kieran Curran, Nathaniel Minghim, Elaine O'Sullivan
  </footer>
  <embed src="../static/assets/sounds/Demented-Nightmare-MP3.mp3" loop="true" autostart="true" width="2" height="0">
</body>
</html>


