{% extends "base.html" %}

{% block main_content %}

<section>
    <h2>Create an account</h2>
</section>  
    <p>
        <form action="">
            <p> Username <input type="text" name="Username" />  </p>

            <p> Password <input type="text" name="Password"  /> </p>

            <p> Confirm Password <input type="text" name="RepeatPassword"  /> </p>

            <p> <input type="submit" value="Submit"  /> </p>
        </form>
    </p>

    <p>
        <a href="{{ url_for('index')}}"><button>Back</button></a>
    </p>

    
{% endblock %}