{% extends "base.html" %}

{% block main_content %}

<section>
    <h2>{{title}}</h2>
    <h3>Andrew Caumban</h3>
    <p>Superprogrammer | Code architect | Code mentor | Code integration.</p>
    <p>Player movement | Collision detection | Shooting mechanics | Health and damage mechanics
    <p>Healing items | Code for map generation | Room switching | Zombie AI.</p>
    </break>
    <h3>Sharon Coffee</h3>
    <p>Programmer | Document author | Group leader and administrator</p>
    <p>Map design | Room map generation | Menu design | Flask routes | Front-end design | Back-end design</p>
    </break> 
    <h3>Kieran Curran</h3>
    <p>Programmer | Menu design | Sourced game assets</p>
    </break>
    <h3>Nathaniel Minghim</h3>
    <p>Programmer | Initial design of game mechanics and requirements</p>
    <p>Wave system class | Wave class | Gun rotation | Inventory for health and damage creation</p>
    </break>
    <h3>Elaine O'Sullivan</h3>
    <p>Programmer | Document author | Group cheerleader | Sourced game assets and inventory assets</p>

{% endblock %}

