<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">

    <title>SpriteZ</title>
</head>
<body>
    <div id="pause" class="hide">
        <h1>Game Paused</h1>

        <button data-action="resume">Resume</button>
        <button data-action="exit">Main Menu</button>
    </div>

    <div id="death-screen" class="hide">
        <h1>Rest.In.Pieces</h1>
        <span>You got eaten alive.</span>

        <ul>
            <li>You survived for: <span id="time-survived">0h:0m:0s</span></li>
            <li>You earned: <span id="points-earned">0</span> pts</li>
        </ul>

        <button data-action="exit">Main Menu</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/7.1.1/pixi.min.js" integrity="sha512-41b70KhlQ4IU1DFvsOwFWFfAcnNZyfPhSMIVsBGqtTAU1wJ+SRkrNmG8/uMHC3tmZxmSgwym3aYobExGApNaRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="{{ url_for('static', filename='build/test.js') }}"></script>
</body>
</html>
