{% extends "base.html" %}

{% block main_content %}

<section>
    <h3>Instructions to play the game after logging in</h3>
    <p>1. Use the W,A,S,D keys to navigate through the game.</p>
    <p>2. Use your mouse to move the player in the game.</p>
    <p>3. Use the space bar to shoot.</p>
    <p>4. Use the q button to acccess the portals (other rooms).</p>
    <p>5. Portals are free and don't require payment from your accumulated points.</p>
    <p>6. Use the e button to select interactables.</p>
    <p>7. To shoot, hover your mouse on the zombie and use left-click to shoot at it.</p>
    <p>8. Move the mouse to rotate the player.
    <p>9. Interactables require payment with points..</p>

{% endblock %}

