{% extends "base.html" %}

{% block main_content %}

<section>
    <h2>Login</h2>
</section>  
    <p>
        <form action="{{ url_for('login')}}" method="post">
            <p> Username <input type="text" name="Username" placeholder="Enter your username"/>  </p>

            <p> Password <input type="text" name="Password"  placeholder="Enter your password"/> </p>

            <p> <input type="submit" value="Submit" /> </p>
        </form>
    </p>

    <p>
        <a href="{{ url_for('index')}}"><button>Back</button></a>
    </p>

    
{% endblock %}