{% extends "base.html" %}

{% block main_content %}

<section>
    <h2>Create an account</h2>
</section>  
    <p>
        <form action="{{ url_for('register') }}" method="post">
            <div class="msg">{{ msg }}</div>
            <p> <input type="text" name="username" placeholder="Enter your username" />  </p>

            <p> <input type="password" name="password"  placeholder="Enter your password"/> </p>

            <p> <input type="password" name="password2" placeholder="Confirm your password" /> </p>

            <p> <input type="submit" value="Submit"  /> </p>
        </form>
    </p>

    <p>
        <a href="{{ url_for('index')}}"><button>Back</button></a>
    </p>

    
{% endblock %}