{% extends "base.html" %}

{% block main_content %}

<section>
    <h2>Settings</h2>
</section>  
    <p>
        <a href="view"><button>Difficulty</button></a>

        <form method="post" action="/">
            <input type="submit" value="-" name="MinusDifficulty"/>
            <input type="submit" value="+" name="IncreaseDifficulty" />
        </form>
        {{ Difficulty_Level }}
        

    </p>

    <p>
        <button onclick="play_Audio()" type="button">Sound</button>
        <form method="post" action="/">
            <input type="submit" value="-" name="MinusSound"/>
            <input type="submit" value="+" name="IncreaseSound" />
        </form>
        {{ Sound }}
        
    </p>
    <p>
        <a href="view"><button>Music</button></a>
        <form method="post" action="/">
            <input type="submit" value="-" name="MinusMusic"/>
            <input type="submit" value="+" name="IncreaseMusic"/>
        </form>
        {{ Music }}

    </p>
    <p>
        <a href="{{ url_for('index')}}"><button>Back</button></a>
    </p>

    <audio id="Sound">
        <source src= "../static/assets/sounds/pistol_reload.mp3"
                type="audio/ogg">
      
    </audio>

    <script>
        var GFG = document.getElementById("Sound");
 
        function play_Audio() {
            GFG.play();
        }
    </script>
    
{% endblock %}